{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Direct Links{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">

    <div class="card">
      <h5 class="card-header">Statistics</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Placement</th>
              <th>Impression</th>
              <th>Clicks</th>
              <th>CTR</th>
              <th>CPM</th>
              <th>Revenue</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            
            {% for stat in statistics %}
            <tr>
              <td>{{stat.date}}</td>
              <td>{{stat.placement}}</td>
              <td>{{stat.impressions}}</td>
              <td>{{stat.clicks}}</td>
              <td>{{stat.ctr}}</td>
              <td>{{stat.cpm}}</td>
              <td>{{stat.revenue}}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const copyButtons = document.querySelectorAll(".copy-link-btn");
    
        copyButtons.forEach(button => {
          button.addEventListener("click", function () {
            const link = this.getAttribute("data-link");
    
            navigator.clipboard.writeText(link).then(() => {
              this.textContent = "Copied!";
              this.classList.remove("btn-primary");
              this.classList.add("btn-info");
    
              setTimeout(() => {
                this.textContent = "Copy Link";
                this.classList.remove("btn-info");
                this.classList.add("btn-primary");
              }, 2000);
            }).catch(err => {
              console.error("Failed to copy text: ", err);
            });
          });
        });
      });
    </script>
    
    
  </div>
  <!-- / Content -->


</div>
{% endblock %}