{% extends 'landing/base.html' %}
{% load static %}

{% block title %}Contact us{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="container">
      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>Contact With Us</h2>
          <h6 class="section-subtitle text-muted">One theme that serves as an easy-to-use operational toolkit<br>that meets customer's needs.</h6>
        </div>
        <!-- <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start">
            <div class="features-width">
              <h5 class="py-3">Skype</h5>
              <p class="text-muted">{{setting.skype}}</p>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <h5 class="py-3">Email</h5>
              <p class="text-muted">{{setting.email}}</p>
            </div>
          </div>
        </div> -->
      </section> 
      <section class="contact-us" id="contact-section">
        <div class="contact-us-bgimage grid-margin" >
          <div class="pb-2">
            <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">Email</h4>
            <h4 class="pt-1" data-aos="fade-down">{{setting.email}}</h4>
          </div>
          <div data-aos="fade-up">
            <button class="btn btn-rounded btn-outline-danger">Send Mail</button>
          </div>          
        </div>
        <div class="contact-us-bgimage grid-margin" >
            <div class="pb-2">
              <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">Skype</h4>
              <h4 class="pt-1" data-aos="fade-down">{{setting.skype}}</h4>
            </div>
            <div data-aos="fade-up">
              <button class="btn btn-rounded btn-outline-danger">Send Mail</button>
            </div>          
          </div>
      </section>
      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <img src="{% static 'logo_2.png' %}" alt="" class="pb-2">
            <div class="pt-2">
              <p class="text-muted m-0">mikayla_beer@feil.name</p>
              <p class="text-muted m-0">906-179-8309</p>
            </div>         
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Get in Touch</h5>
            <p class="text-muted">Don’t miss any updates of our new templates and extensions.!</p>
            <form>
              <input type="text" class="form-control" id="Email" placeholder="Email id">
            </form>
            <div class="pt-3">
              <button class="btn btn-dark">Subscribe</button>
            </div>   
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Our Guidelines</h5>
            <a href="{% url 'core:index' %}"><p class="m-0 pb-2">Home</p></a>   
            <a href="{% url 'core:contact' %}"><p class="m-0 pb-2">Contact</p></a>   
            <a href="{% url 'account:login' %}" ><p class="m-0 pt-1 pb-2">Login</p></a> 
            <a href="{% url 'account:register' %}" ><p class="m-0 pt-1 pb-2">Register</p></a> 
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
              <h5 class="pb-2">Our address</h5>
              <p class="text-muted">518 Schmeler Neck<br>Bartlett. Illinois</p>
              <div class="d-flex justify-content-center justify-content-md-start">
                <a href="#"><span class="mdi mdi-facebook"></span></a>
                <a href="#"><span class="mdi mdi-twitter"></span></a>
                <a href="#"><span class="mdi mdi-instagram"></span></a>
                <a href="#"><span class="mdi mdi-linkedin"></span></a>
              </div>
          </div>
        </div>  
      </section>
    </div> 
  </div>
{% endblock %}